@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.App {
  font-family: "Ubuntu Mono", monospace;
  overflow-x: hidden !important;
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
::-webkit-scrollbar {
  display: none;
}

